@import '../../assets/css/mixin.scss';

.login_pop {
    position: fixed;
    z-index: 10;
    background: #3E4959;
    border-radius: 0.08rem;
    width: 6rem;

    &.mid {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 8rem;
    }


    .header {
        display: flex;
        align-items: center;
        padding: 0.24rem 0.3rem;
        border-bottom: 0.01rem solid rgba(255, 255, 255, 0.1);

        .img_bg {
            width: 0.6rem;
            height: 0.6rem;
            border-radius: 50%;
        }

        h4 {
            font-weight: 600;
            font-size: 0.3rem;
            line-height: 0.37rem;
        }

        .close {
            margin-left: auto;
            background-image: url(../../assets/image/close.png);
            width: 0.27rem;
            height: 0.27rem;
            background-size: contain;
        }
    }

    ul {
        padding: 0 0.32rem;

        li {
            display: flex;
            align-items: center;
            padding: 0.22rem 0;
            &:first-child {
                display: block;
            }

            .img_bg {
                width: 0.53rem;
                height: 0.53rem;
                border-radius: 50%;
                margin-right: 0.28rem;

                img {
                    width: 100%;
                }
            }

            &+li {
                border-top: 0.01rem solid rgba(255, 255, 255, 0.1);
            }

            a {
                margin-left: auto;
                width: 1.23rem;
                height: 0.5rem;
            }
        }
    }
}