@import '../../assets/css/mixin.scss';

.page_war {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 0.4rem;

    li {
        width: 100%;
    }

    .war_box {
        padding: 0.24rem 0.28rem 0.37rem;
        background-color: #272D37;
        border-radius: 0.08rem;
        margin-top: 0.17rem;

        img {
            width: 100%;
        }

        a {
            margin-left: auto;
            margin-top: 0.35rem;
            font-size: .24rem;
        }
    }
}

.page_nft_item {
    margin-bottom: 1.1rem;

    .col_two {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 0.4rem;
    }

    .col_three {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 0.4rem;
    }

    h3 {
        margin-bottom: 0.36rem;
    }

    .nft_top {
        li {
            background-color: #272D37;
            border-radius: 0.08rem;
            padding: 0.3rem 0.26rem;
            display: flex;
            align-items: center;
            box-sizing: border-box;
        }

        img {
            width: 1.1rem;
            height: 1.1rem;
            margin-right: 0.44rem;
        }

        h6 {
            font-size: 0.28rem;
            line-height: 0.34rem;
            font-style: italic;
            padding-bottom: 0.22rem;
        }

        span {
            font-size: 0.36rem;
            line-height: 0.43rem;
        }
    }

    .pond {
        li {
            .tit {
                padding-left: 0.26rem;
                height: 0.55rem;
                font-style: italic;
                font-weight: 700;
                font-size: 0.3rem;
                line-height: 0.55rem;
                color: rgba(255, 255, 255, 0.6);
                background: rgba(0, 0, 0, 0.2);
            }

            .content {
                height: 1.45rem;
                box-sizing: border-box;
                padding: 0.32rem;
                background-color: #272D37;
            }
        }
    }

    .lp_top {
        li {
            display: flex;
            align-items: center;
            background: #272D37;
            border-radius: 0.08rem;
            padding: 0.24rem 0.28rem;

            img {
                width: 1.48rem;
                height: 1.48rem;
                margin-right: 0.4rem;
            }

            h3 {
                padding-bottom: 0.25rem;
            }
        }
    }

    .lp_mid {
        li {
            background: #272D37;
            border-radius: 0.08rem;
            padding: 0.35rem;
        }

        a {
            width: 100%;
        }

        .lp_mid_one {
            .img_bg {
                width: 100%;
                padding-bottom: 100%;
                position: relative;

                img {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                }

            }

            p {
                padding: 0.17rem 0 0.48rem;
                display: flex;
                justify-content: space-between;

                span {
                    font-size: 0.2rem;
                    line-height: 0.24rem;
                }
            }
        }



        .lp_mid_two {
            display: flex;
            flex-direction: column;

            .text {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                flex: 1;
                padding-bottom: 0.3rem;
            }

            p {
                display: flex;
                justify-content: space-between;
                align-items: center;

                span {
                    font-size: 0.2rem;
                    line-height: 0.24rem;

                    &:last-child {
                        font-size: 0.32rem;
                        line-height: 0.4rem;
                    }
                }
            }

            .btn_wrap {
                padding: 0.43rem 0.35rem 0;
                border-top: 0.01rem solid #000;
                margin-left: -0.35rem;
                margin-right: -0.35rem;

                a {
                    &+a {
                        margin-top: 0.35rem;
                    }
                }
            }
        }
    }
}

.count_num {
    display: flex;
    justify-content: space-around;
    margin-bottom: 0.2rem;

    i {
        display: flex;
        align-items: center;
        justify-content: center;
        font-style: normal;
        width: 0.6rem;
        line-height: 1;
        height: 0.6rem;
        background: #050505;
        font-size: 0.42rem;
        cursor: pointer;
    }
}

.stake {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #3E4959;
    border-radius: 0.08rem;
    width: 5.6rem;
    height: 3rem;
    padding: 0.4rem;

    .close {
        position: absolute;
        right: 0.2rem;
        top: 0.2rem;
    }

    h3 {
        font-weight: 500;
        font-size: 0.3rem;
        line-height: 0.36rem;
    }

    p {
        margin-top: 0.2rem;
        color: rgba(255, 255, 255, 0.8);
    }

    .count_num_pop {
        width: 2.95rem;
        height: 0.48rem;
        padding: 0 .02rem;
        background: #4C607C;
        border-radius: 0.08rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0.5rem auto 0.6rem;
        i {
            display: block;
            background: #050505;
            border-radius: 0.04rem;
            line-height: 0.4rem;
            text-align: center;
            width: 0.6rem;
            height: 0.4rem;
            font-style: normal;
        }
    }

    .btn_wrap {
        display: flex;
        align-items: center;

        a+a {
            margin-left: .2rem;
        }
    }
}