$mainColor:#DDFF31;
.title {
    font-style: italic;
    color: #fff;
    font-weight: bold;
    font-size: 0.4rem;
    line-height: 0.48rem;
    i {
        color: $mainColor
    }
}

.sub_title {
    font-size: 0.2rem;
    line-height: 0.24rem;
    color: #fff;
    padding: 0.3rem 0 0.5rem;
    font-weight: normal;
}

.close {
    display: block;
    background-image: url(../image/close.png);
    width: 0.27rem;
    height: 0.27rem;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}
