@import '../../assets/css/mixin.scss';
.login_pop {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background: #505051;
    width: 4rem;
    border-radius: 0.08rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;

    .close {
        position: absolute;
        right: 0.2rem;
        top: 0.2rem;
    }

    h3 {
        font-size: 0.3rem;
        margin-top: .5rem;
    }

    img {
        width: 1.64rem;
        height: 1.57rem;
        display: block;
        margin-bottom: 0.2rem;
    }

    a {
        margin-bottom: 0.4rem;
    }
}