@import '../../assets/css/mixin.scss';

.wiki_wrap {
    padding-bottom: 2rem;
    h3 {
        padding-bottom:0.43rem;
    }

    a {
        display: block;
        color: $mainColor;
        font-weight: bold;
        margin-top: .1rem;
    }
}
