.banner {
    margin-bottom: 0.47rem;

    .banner_img {
        width: 100%;
        padding-bottom: 38.571%;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(../../assets/image/banner/index.jpg);

        &.farm {
            padding-bottom: 28.571%;
            background-image: url(../../assets/image/banner/farm.jpg);
        }

        &.my {
            padding-bottom: 28.571%;
            background-image: url(../../assets/image/banner/my.jpg);
        }

        &.wl {
            padding-bottom: 28.571%;
            background-image: url(../../assets/image/banner/whitelist.jpg);
        }
    }
}